:host > div {
  position: absolute;
  --total-size: 36px;
  width: var(--total-size);
  height: var(--total-size);
  margin-left: calc(var(--total-size) / -2);
  margin-top: calc(var(--total-size) / -2);
}

rect {
  stroke-width: 1rem;
}

rect:first-child, rect:first-child + rect {
  fill: var(--availability-fill);
  stroke: var(--availability-stroke);
}

rect.boss {
  stroke-width: 0.25rem;
}

rect:first-child + rect + rect.agahnim {
  fill: url(#agahnim);
}

rect:first-child + rect + rect.armosKnights {
  fill: url(#armosKnights);
}

rect:first-child + rect + rect.arrghus {
  fill: url(#arrghus);
}

rect:first-child + rect + rect.blind {
  fill: url(#blind);
}

rect:first-child + rect + rect.helmasaurKing {
  fill: url(#helmasaurKing);
}

rect:first-child + rect + rect.kholdstare {
  fill: url(#kholdstare);
}

rect:first-child + rect + rect.lanmolas {
  fill: url(#lanmolas);
}

rect:first-child + rect + rect.moldorm {
  fill: url(#moldorm);
}

rect:first-child + rect + rect.mothula {
  fill: url(#mothula);
}

rect:first-child + rect + rect.trinexx {
  fill: url(#trinexx);
}

rect:first-child + rect + rect.vitreous {
  fill: url(#vitreous);
}

rect:first-child + rect + rect.agahnim2 {
  fill: url(#agahnim2);
}
