.itemLocation {
  fill: var(--availability-fill);
  stroke: var(--availability-stroke);
}

div {
  position: absolute;
  --total-size: 12px;
  width: var(--total-size);
  height: var(--total-size);
  margin-left: calc(var(--total-size) / -2);
  margin-top: calc(var(--total-size) / -2);
}

svg > * {
  cursor: pointer;
  stroke-width: 1.5rem;
}

svg > polygon {
  stroke-width: 1rem;
}