.available {
  background-color: cyan;
}

.unavailable {
  background-color: red;
}

.visible {
  background-color: orange;
}

.possible {
  background-color: gold;
}

.glitches {
  background-color: fuchsia;
}

.glitchesVisible {
  background-color: olive;
}

.claimed {
  background-color: gray;
}

tr > td:first-child + td {
  width: 12px;
  height: 12px;
  background-size: 100% 100%;
  background-image: url('/assets/overlay/poi.png');
}
