.available {
  background-color: cyan;
  background-size: 100% 100%;
}

.unavailable {
  background-color: red;
  background-size: 100% 100%;
}

.visible {
  background-color: orange;
  background-size: 100% 100%;
}

.possible {
  background-color: gold;
  background-size: 100% 100%;
}

.glitches {
  background-color: cyan;
  background-size: 14px 10px;
}

.glitchesVisible {
  background-color: orange;
  background-size: 14px 10px;
}

.claimed {
  background-color: gray;
  background-size: 100% 100%;
}

tr > td:first-child + td {
  width: 12px;
  height: 12px;
  background-image: url('/assets/overlay/poi.png');
}
