<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Using Stumpy</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-bordered table-hover table-sm">
      <caption>Color Guide</caption>
      <thead class="thead">
        <tr>
          <th scope="col">Description</th>
          <th scope="col">Color</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Available</td>
          <td class="available"></td>
        </tr>
        <tr>
          <td>Visible</td>
          <td class="visible"></td>
        </tr>
        <tr>
          <td>Possible</td>
          <td class="possible"></td>
        </tr>
        <tr>
          <td>Unavailable</td>
          <td class="unavailable"></td>
        </tr>
        <tr>
          <td>Available through logic breaks</td>
          <td class="glitches"></td>
        </tr>
        <tr>
          <td>Visible through logic breaks</td>
          <td class="glitchesVisible"></td>
        </tr>
        <tr>
          <td>Claimed</td>
          <td class="claimed"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-outline-primary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<button type="button" class="btn btn-outline-primary btn-sm" (click)="open(content)">
  <i class="fa fa-question-circle-o" aria-hidden="true"></i>
  Help
</button>
