.available {
  --availability-fill: cyan;
}

.unavailable {
  --availability-fill: red;
}

.visible {
  --availability-fill: orange;
}

.possible {
  --availability-fill: gold;
}

.glitches {
  --availability-fill: cyan;
}

.glitchesVisible {
  --availability-fill: orange;
}

.claimed {
  --availability-fill: gray;
}

tr > td:first-child + td {
  width: 2.5rem;
  height: 2.5rem;
}

rect {
  fill: var(--availability-fill);
}
