<section>
  <stumpy-item-location [itemLocationId]="48"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="49"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="50"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="51"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="52"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="53"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="54"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="55"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="56"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="57"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="58"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="59"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="60"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="61"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="62"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="63"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="64"></stumpy-item-location>
  <stumpy-dungeon-location [dungeonLocationId]="4"></stumpy-dungeon-location>
  <stumpy-dungeon-location [dungeonLocationId]="5"></stumpy-dungeon-location>
  <stumpy-dungeon-location [dungeonLocationId]="6"></stumpy-dungeon-location>
  <stumpy-dungeon-location [dungeonLocationId]="7"></stumpy-dungeon-location>
  <stumpy-dungeon-location [dungeonLocationId]="8"></stumpy-dungeon-location>
  <stumpy-dungeon-location [dungeonLocationId]="9"></stumpy-dungeon-location>
  <stumpy-dungeon-location [dungeonLocationId]="10"></stumpy-dungeon-location>
</section>
