<section>
  <stumpy-item-location [itemLocationId]="48"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="49"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="50"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="51"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="52"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="53"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="54"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="55"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="56"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="57"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="58"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="59"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="60"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="61"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="62"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="63"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="64"></stumpy-item-location>
</section>
