<section>
  <stumpy-item-location [itemLocationId]="0"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="1"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="2"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="3"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="4"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="5"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="6"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="7"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="8"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="9"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="10"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="11"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="12"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="13"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="14"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="15"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="16"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="17"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="18"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="19"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="20"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="21"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="22"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="23"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="24"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="25"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="26"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="27"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="28"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="29"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="30"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="31"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="32"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="33"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="34"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="35"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="36"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="37"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="38"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="39"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="40"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="41"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="42"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="43"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="44"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="45"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="46"></stumpy-item-location>
  <stumpy-item-location [itemLocationId]="47"></stumpy-item-location>
  <stumpy-dungeon-location [dungeonLocationId]="0"></stumpy-dungeon-location>
  <stumpy-dungeon-location [dungeonLocationId]="1"></stumpy-dungeon-location>
  <stumpy-dungeon-location [dungeonLocationId]="2"></stumpy-dungeon-location>
  <stumpy-dungeon-location [dungeonLocationId]="3"></stumpy-dungeon-location>
</section>
