.bottle0 {
  background-image: url('/assets/items/bottle0.png');
}

.bottle1 {
  background-image: url('/assets/items/bottle1.png');
}

.bottle2 {
  background-image: url('/assets/items/bottle2.png');
}

.bottle3 {
  background-image: url('/assets/items/bottle3.png');
}

.bottle4 {
  background-image: url('/assets/items/bottle4.png');
}
