.bottle0 {
  background-image: url('/assets/bottle0.png');
}

.bottle1 {
  background-image: url('/assets/bottle1.png');
}

.bottle2 {
  background-image: url('/assets/bottle2.png');
}

.bottle3 {
  background-image: url('/assets/bottle3.png');
}

.bottle4 {
  background-image: url('/assets/bottle4.png');
}
