<div class="container">
  <div class="row mt-2">
    <div class="col-12">
      <ul class="list-inline">
        <li class="list-inline-item">
          <button class="btn btn-outline-primary btn-sm" type="button" [routerLink]="['/settings']">
            <i class="fa fa-cog" aria-hidden="true"></i>
            Adjust your settings.
          </button>
        </li>
        <li class="list-inline-item"><stumpy-guide></stumpy-guide></li>
        <li class="list-inline-item"><stumpy-reset></stumpy-reset></li>
        <li class="list-inline-item"><stumpy-go-mode></stumpy-go-mode></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <article>
        <div>
          <stumpy-item [itemId]="33"></stumpy-item>
          <stumpy-item [itemId]="2"></stumpy-item>
          <stumpy-item [itemId]="3"></stumpy-item>
          <stumpy-item [itemId]="29"></stumpy-item>
          <stumpy-item [itemId]="4"></stumpy-item>
          <stumpy-item [itemId]="5"></stumpy-item>
        </div>
        <div>
          <stumpy-item [itemId]="10"></stumpy-item>
          <stumpy-item [itemId]="11"></stumpy-item>
          <stumpy-item [itemId]="12"></stumpy-item>
          <stumpy-item [itemId]="13"></stumpy-item>
          <stumpy-item [itemId]="14"></stumpy-item>
          <stumpy-item [itemId]="30"></stumpy-item>
        </div>
        <div>
          <stumpy-item [itemId]="15"></stumpy-item>
          <stumpy-item [itemId]="21"></stumpy-item>
          <stumpy-item [itemId]="23"></stumpy-item>
          <stumpy-item [itemId]="24"></stumpy-item>
          <stumpy-item [itemId]="25"></stumpy-item>
          <stumpy-item [itemId]="28"></stumpy-item>
        </div>
        <div>
          <stumpy-item [itemId]="20"></stumpy-item>
          <stumpy-item [itemId]="16"></stumpy-item>
          <stumpy-item [itemId]="17"></stumpy-item>
          <stumpy-item [itemId]="18"></stumpy-item>
          <stumpy-item [itemId]="19"></stumpy-item>
          <stumpy-item [itemId]="27"></stumpy-item>
        </div>
        <div>
          <stumpy-item [itemId]="22"></stumpy-item>
          <stumpy-item [itemId]="6"></stumpy-item>
          <stumpy-item [itemId]="7"></stumpy-item>
          <stumpy-item [itemId]="8"></stumpy-item>
          <stumpy-item [itemId]="9"></stumpy-item>
          <stumpy-item [itemId]="26"></stumpy-item>
        </div>
      </article>
    </div>
    <div class="col-9">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <span class="col-1 border border-primary">Abbr</span>
              <span class="col-1 border border-primary">Med.</span>
              <span class="col-2 border border-primary">Boss</span>
              <span class="col-1 border border-primary">Prize</span>
              <span class="col-3 border border-primary">Items</span>
              <span class="col-3 border border-primary" [ngClass]="getKeysanityClass()"><span>Small Keys</span></span>
              <span class="col-1 border border-primary" [ngClass]="getKeysanityClass()"><span class="bigKey noClick">&nbsp;</span></span>
            </div>
          </div>
          <div class="col-12" *ngFor="let d of allDungeons()">
            <div class="row">
              <div class="col-1 border border-primary">
                <span class="abbr" title="{{d.dungeonName}}">{{d.dungeonAbbr}}</span>
              </div>
              <div class="col-1 border border-primary">
                <span [ngClass]="getMedallionClasses(d.entranceLock)" (click)="whenMedallionClicked($event, d)">&nbsp;</span>
              </div>
              <div class="col-1 border border-right-0 border-primary">
                <span [ngClass]="getBossImageClass(d)" title="{{d.bossName}}">&nbsp;</span>
              </div>
              <div class="col-1 border border-left-0 border-primary">
                <input type="checkbox" [ngModel]="d.isBossDefeated" (click)="whenDefeatedClicked($event, d)">
              </div>
              <div class="col-1 border border-primary">
                <span [ngClass]="getRewardClasses(d.reward)" (click)="whenRewardClicked($event, d)">&nbsp;</span>
              </div>
              <div class="col-3 border border-primary">
                <span [ngClass]="getChestCountClasses(d)" (click)="whenChestCountClicked($event, d)">{{getChestCount(d)}}</span>
                <span>/</span>
                <span [ngClass]="getMaxChestCountClasses(d)" class="chests">{{getMaxChests(d)}}</span>
              </div>
              <div class="col-3 border border-primary" [ngClass]="getKeysanityClass()">
                <span [ngClass]="getSmallKeyCountClasses(d)" (click)="whenKeyCountClicked($event, d)">{{getSmallKeyCount(d)}}</span>
                <span>/</span>
                <span [ngClass]="getMaxSmallKeyCountClasses(d)">{{getMaxSmallKeyCount(d)}}</span>
              </div>
              <div class="col-1 border border-primary" [ngClass]="getKeysanityClass()">
                <span [ngClass]="getBigKeyClasses(d)" (click)="whenBigKeyClicked($event, d)">&nbsp;</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <stumpy-map></stumpy-map>
</div>
