.hiding {
  display: none;
}

.abbr {
  display: inline-block;
  padding-top: 0.1rem;
}

.boss {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-size: 100%;
  user-select: none;
  opacity: 0.25;
}

.boss.defeated {
  opacity: 1;
}

.boss.boss0 {
  background-image: url('/assets/bosses/boss0.png');
}

.boss.boss1 {
  background-image: url('/assets/bosses/boss1.png');
}

.boss.boss2 {
  background-image: url('/assets/bosses/boss2.png');
}

.boss.boss3 {
  background-image: url('/assets/bosses/boss3.png');
}

.boss.boss4 {
  background-image: url('/assets/bosses/boss4.png');
}

.boss.boss5 {
  background-image: url('/assets/bosses/boss5.png');
}

.boss.boss6 {
  background-image: url('/assets/bosses/boss6.png');
}

.boss.boss7 {
  background-image: url('/assets/bosses/boss7.png');
}

.boss.boss8 {
  background-image: url('/assets/bosses/boss8.png');
}

.boss.boss9 {
  background-image: url('/assets/bosses/boss9.png');
}

.boss.boss10 {
  background-image: url('/assets/bosses/boss10.png');
}

.boss.boss11 {
  background-image: url('/assets/bosses/boss11.png');
}

.reward {
  width: 24px;
  height: 24px;
  background-size: 100%;
  display: inline-block;
  user-select: none;
  cursor: pointer;
}

.reward.reward1 {
  background-image: url('/assets/overlay/reward-unknown.png');
}

.reward.reward2 {
  background-image: url('/assets/overlay/reward-greenPendant.png');
}

.reward.reward3 {
  background-image: url('/assets/overlay/reward-standardPendant.png');
}

.reward.reward4 {
  background-image: url('/assets/overlay/reward-standardCrystal.png');
}

.reward.reward5 {
  background-image: url('/assets/overlay/reward-fairyCrystal.png');
}

.chests {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('/assets/chests/keychest.png');
  background-size: 100%;
  text-align: center;
  color: black;
  padding-top: 0.1rem;
  user-select: none;
}

.chests.counter {
  cursor: pointer;
}

.chests.chests-claimed {
  background-image: url('/assets/chests/keychest0.png');
}

.medallion {
  width: 24px;
  height: 24px;
  background-size: 100%;
  display: inline-block;
  user-select: none;
}

.medallion.entrance {
  cursor: pointer;
}

.medallion.medallion1 {
  background-image: url('/assets/overlay/medallion-unknown.png');
}

.medallion.medallion2 {
  background-image: url('/assets/overlay/medallion-bombos.png');
}

.medallion.medallion3 {
  background-image: url('/assets/overlay/medallion-ether.png');
}

.medallion.medallion4 {
  background-image: url('/assets/overlay/medallion-quake.png');
}

.bigKey.noClick {
  opacity: 1;
  cursor: default;
}

.bigKey {
  width: 24px;
  height: 24px;
  background-size: 100%;
  display: inline-block;
  user-select: none;
  background-image: url('/assets/chests/bigkey.png');
  opacity: 0.25;
  cursor: pointer;
}

.bigKey.hiding {
  display: none;
}

.bigKey.claimed {
  opacity: 1;
}

.pointer {
  cursor: pointer;
}
