<p><a routerLink="/settings">Adjust your settings.</a></p>

<article>
  <div>
    <stumpy-bow></stumpy-bow>
    <stumpy-silver-arrows></stumpy-silver-arrows>
    <stumpy-boomerang></stumpy-boomerang>
    <stumpy-hookshot></stumpy-hookshot>
    <stumpy-mushroom></stumpy-mushroom>
    <stumpy-powder></stumpy-powder>
    <stumpy-boots></stumpy-boots>
    <stumpy-glove></stumpy-glove>
    <stumpy-flippers></stumpy-flippers>
    <stumpy-moon-pearl></stumpy-moon-pearl>
  </div>
  <div>
    <stumpy-firerod></stumpy-firerod>
    <stumpy-icerod></stumpy-icerod>
    <stumpy-bombos></stumpy-bombos>
    <stumpy-ether></stumpy-ether>
    <stumpy-quake></stumpy-quake>
    <stumpy-lantern></stumpy-lantern>
    <stumpy-somaria></stumpy-somaria>
    <stumpy-byrna></stumpy-byrna>
    <stumpy-cape></stumpy-cape>
    <stumpy-mirror></stumpy-mirror>
  </div>
  <div>
    <stumpy-bottle></stumpy-bottle>
    <stumpy-hammer></stumpy-hammer>
    <stumpy-shovel></stumpy-shovel>
    <stumpy-flute></stumpy-flute>
    <stumpy-net></stumpy-net>
    <stumpy-book></stumpy-book>
    <stumpy-sword></stumpy-sword>
    <stumpy-shield></stumpy-shield>
    <stumpy-tunic></stumpy-tunic>
    <stumpy-dungeon [dungeonId]="0"></stumpy-dungeon>
  </div>
  <div>
    <stumpy-dungeon [dungeonId]="1"></stumpy-dungeon>
    <stumpy-dungeon [dungeonId]="2"></stumpy-dungeon>
    <stumpy-dungeon [dungeonId]="3"></stumpy-dungeon>
    <stumpy-dungeon [dungeonId]="4"></stumpy-dungeon>
    <stumpy-dungeon [dungeonId]="5"></stumpy-dungeon>
    <stumpy-dungeon [dungeonId]="6"></stumpy-dungeon>
    <stumpy-dungeon [dungeonId]="7"></stumpy-dungeon>
    <stumpy-dungeon [dungeonId]="8"></stumpy-dungeon>
    <stumpy-dungeon [dungeonId]="9"></stumpy-dungeon>
    <stumpy-dungeon [dungeonId]="10"></stumpy-dungeon>
  </div>
</article>