.shield1 {
  background-image: url('/assets/items/shield1.png');
}

.shield2 {
  background-image: url('/assets/items/shield2.png');
}

.shield3 {
  background-image: url('/assets/items/shield3.png');
}
