.swordless {
  visibility: hidden;
}

.sword1 {
  background-image: url('/assets/items/sword1.png');
}

.sword2 {
  background-image: url('/assets/items/sword2.png');
}

.sword3 {
  background-image: url('/assets/items/sword3.png');
}

.sword4 {
  background-image: url('/assets/items/sword4.png');
}
