.blueBoomerang:not(.redBoomerang) {
  background-image: url('/assets/boomerang1.png');
}

.redBoomerang:not(.blueBoomerang) {
  background-image: url('/assets/boomerang2.png');
}

.blueBoomerang.redBoomerang {
  background-image: url('/assets/boomerang3.png');
}
