.blueBoomerang:not(.redBoomerang) {
  background-image: url('/assets/items/boomerang1.png');
}

.redBoomerang:not(.blueBoomerang) {
  background-image: url('/assets/items/boomerang2.png');
}

.blueBoomerang.redBoomerang {
  background-image: url('/assets/items/boomerang3.png');
}
