:host {
  width: 64px;
  height: 64px;
  display: table-cell;
  position: relative;
  cursor: pointer;
}
:host > .boss {
  width: 64px;
  height: 64px;
  opacity: 0.25;
}
:host .boss.isBeaten {
  opacity: 1;
}

:host > div {
  position: absolute;
  width: 32px;
  height: 32px;
}

:host > .chest {
  top: 32px;
  font-size: 14px;
  padding-top: 5px;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
  user-select: none;
}
.chest.items-remaining {
  background-image: url('/assets/chests/keychest.png');
}

.chest:not(.items-remaining) {
  background-image: url('/assets/chests/keychest0.png');
}

:host > .reward {
  top: 32px;
  left: 32px;
}

:host > .medallion {
  left: 32px;
}

.agahnim {
  background-image: url('/assets/bosses/agahnim0.png');
}

.agahnim.boss.isBeaten {
  background-image: url('/assets/bosses/agahnim1.png');
}

.armosKnights {
  background-image: url('/assets/bosses/armosKnights.png');
}

.arrghus {
  background-image: url('/assets/bosses/arrghus.png');
}

.blind {
  background-image: url('/assets/bosses/blind.png');
}

.helmasaurKing {
  background-image: url('/assets/bosses/helmasaurKing.png');
}

.kholdstare {
  background-image: url('/assets/bosses/kholdstare.png');
}

.lanmolas {
  background-image: url('/assets/bosses/lanmolas.png');
}

.moldorm {
  background-image: url('/assets/bosses/moldorm.png');
}

.mothula {
  background-image: url('/assets/bosses/mothula.png');
}

.trinexx {
  background-image: url('/assets/bosses/trinexx.png');
}

.vitreous {
  background-image: url('/assets/bosses/vitreous.png');
}

.agahnim2 {
  background-image: url('/assets/bosses/ganonTower.png');
}

.reward.unknown {
  background-image: url('/assets/overlay/reward-unknown.png');
}

.reward.greenPendant {
  background-image: url('/assets/overlay/reward-greenPendant.png');
}

.reward.standardPendant {
  background-image: url('/assets/overlay/reward-standardPendant.png');
}

.reward.standardCrystal {
  background-image: url('/assets/overlay/reward-standardCrystal.png');
}

.reward.fairyCrystal {
  background-image: url('/assets/overlay/reward-fairyCrystal.png');
}

.medallion.unknown {
  background-image: url('/assets/overlay/medallion-unknown.png');
}

.medallion.bombos {
  background-image: url('/assets/overlay/medallion-bombos.png');
}

.medallion.ether {
  background-image: url('/assets/overlay/medallion-ether.png');
}

.medallion.quake {
  background-image: url('/assets/overlay/medallion-quake.png');
}
