:host {
  width: 128px;
  height: 64px;
  position: relative;
  user-select: none;
}
:host > .boss {
  width: 64px;
  height: 64px;
  opacity: 0.25;
}
:host .boss.isBeaten {
  opacity: 1;
}

:host > div {
  position: absolute;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

:host > .abbr {
  font-size: 1.1rem;
  font-weight: bold;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

:host > .big-key {
  left: 96px;
  background-size: 100%;
  background-image: url('/assets/chests/bigkey.png');
  opacity: 0.25;
  cursor: pointer;
}

:host > .big-key.claimed {
  opacity: 1;
}

:host > .small-keys {
  left: 64px;
  top: 32px;
  width: 64px;
  background-size: 100%;
  cursor: pointer;
}

:host > .small-keys-0 {
  background-image: url('/assets/chests/smallkey0.png');
}

:host > .small-keys-1 {
  background-image: url('/assets/chests/smallkey1.png');
}

:host > .small-keys-2 {
  background-image: url('/assets/chests/smallkey2.png');
}

:host > .small-keys-3 {
  background-image: url('/assets/chests/smallkey3.png');
}

:host > .small-keys-4 {
  background-image: url('/assets/chests/smallkey4.png');
}

:host > .small-keys-5 {
  background-image: url('/assets/chests/smallkey5.png');
}

:host > .small-keys-6 {
  background-image: url('/assets/chests/smallkey6.png');
}

:host > .chest {
  top: 32px;
  font-size: 14px;
  padding-top: 5px;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
  user-select: none;
}
.chest.items-remaining {
  background-image: url('/assets/chests/keychest.png');
}

.chest:not(.items-remaining) {
  background-image: url('/assets/chests/keychest0.png');
}

:host > .reward {
  top: 32px;
  left: 32px;
}

:host > .medallion {
  left: 32px;
}

:host > .defeat-toggle {
  left: 64px;
  font-size: 2.1rem;
}

.boss.boss0 {
  background-image: url('/assets/bosses/agahnim0.png');
}

.boss.boss0.isBeaten {
  background-image: url('/assets/bosses/agahnim1.png');
}

.boss.boss1 {
  background-image: url('/assets/bosses/armosKnights.png');
}

.boss.boss2 {
  background-image: url('/assets/bosses/lanmolas.png');
}

.boss.boss3 {
  background-image: url('/assets/bosses/moldorm.png');
}

.boss.boss4 {
  background-image: url('/assets/bosses/helmasaurKing.png');
}

.boss.boss5 {
  background-image: url('/assets/bosses/arrghus.png');
}

.boss.boss6 {
  background-image: url('/assets/bosses/mothula.png');
}

.boss.boss7 {
  background-image: url('/assets/bosses/blind.png');
}

.boss.boss8 {
  background-image: url('/assets/bosses/kholdstare.png');
}

.boss.boss9 {
  background-image: url('/assets/bosses/vitreous.png');
}

.boss.boss10 {
  background-image: url('/assets/bosses/trinexx.png');
}

.boss.boss11 {
  background-image: url('/assets/bosses/ganonTower.png');
}

.reward.unknown {
  background-image: url('/assets/overlay/reward-unknown.png');
}

.reward.greenPendant {
  background-image: url('/assets/overlay/reward-greenPendant.png');
}

.reward.standardPendant {
  background-image: url('/assets/overlay/reward-standardPendant.png');
}

.reward.standardCrystal {
  background-image: url('/assets/overlay/reward-standardCrystal.png');
}

.reward.fairyCrystal {
  background-image: url('/assets/overlay/reward-fairyCrystal.png');
}

.medallion.unknown {
  background-image: url('/assets/overlay/medallion-unknown.png');
}

.medallion.bombos {
  background-image: url('/assets/overlay/medallion-bombos.png');
}

.medallion.ether {
  background-image: url('/assets/overlay/medallion-ether.png');
}

.medallion.quake {
  background-image: url('/assets/overlay/medallion-quake.png');
}
