<div class="row mt-2">
  <div class="col-12">
    <ul class="list-inline">
      <li class="list-inline-item">
        <button class="btn btn-outline-primary btn-sm" type="button" [routerLink]="['/settings']">
          <i class="fa fa-cog" aria-hidden="true"></i>
          Adjust your settings.
        </button>
      </li>
      <li class="list-inline-item"><stumpy-guide></stumpy-guide></li>
      <li class="list-inline-item"><stumpy-reset></stumpy-reset></li>
      <li class="list-inline-item"><stumpy-go-mode></stumpy-go-mode></li>
    </ul>
  </div>
</div>
