/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html {
  background-color: black;
  color: #eee;
}

img.inline {
  height: 16px;
  vertical-align: text-bottom;
}

.hidden {
  display: none;
}
