<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form>
        <fieldset>
          <legend>Adjust your settings here.</legend>
          <div class="form-group">
            <label for="stumpy-mode">Select your mode.</label>
            <select id="stumpy-mode" name="stumpy-mode" class="form-control form-control-sm" [(ngModel)]="options.mode">
                <option *ngFor="let c of options.modeKeys" value="{{c.value}}">{{c.label}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="stumpy-difficulty">Select your difficulty.</label>
            <select id="stumpy-difficulty" name="stumpy-difficulty" class="form-control form-control-sm" [(ngModel)]="options.difficulty">
              <option *ngFor="let c of options.difficultyKeys" value="{{c.value}}">{{c.label}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="stumpy-goal">Select your goal.</label>
            <select id="stumpy-goal" name="stumpy-goal" class="form-control form-control-sm" [(ngModel)]="options.goal">
              <option *ngFor="let c of options.goalKeys" value="{{c.value}}">{{c.label}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="stumpy-go-mode">Show Go Mode label?</label>
            <select id="stumpy-go-mode" name="stumpy-go-mode" class="form-control form-control-sm" [(ngModel)]="options.showGoMode">
              <option *ngFor="let c of options.showGoModeKeys" value="{{c.value}}">{{c.label}}</option>
            </select>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <button class="btn btn-outline-primary btn-sm" type="button" [routerLink]="['/tracker']">
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
          Back to the tracker.
        </button>
    </div>
  </div>
</div>
<!--
<select [(ngModel)]="options.logic">
  <option *ngFor="let c of options.logicKeys" value="{{c.value}}">{{c.label}}</option>
</select>
-->
